form {
  .input {
    padding: 10px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
  }

  textarea {
    height: 25em;
  }

  .actions {
    background-color: #ccc;
    padding: 10px;

    input {
      width: auto;
    }
  }
}
